@charset "UTF-8";

.box {
	margin: 0 auto;
	width: 400px;
	height: 400px;
}
.top {
	border: 1px solid;
	border-bottom: 1rem;
}
.top > img {
	padding: 1rem;
	width: 10%;
}
.header {
	border: 1px solid;
	text-align: center;
}
.h {
	display: inline-block;
	padding: 2rem;
	border-right: 1px solid;
}
.a {
	display: inline-block;
	padding: 2rem;
	padding-right: 30px;
}
.center {
	border: 1px solid;
	padding: 1rem;
	border-top: 1rem;
}
.center > p:nth-child(2) {
	text-align: right;
}
.center > p:nth-child(4) {
	text-align: right;
}
.center > p:nth-child(5) {
	text-align: center;
}

.footer {
	border: 1px solid;
	padding: 1rem;
	border-top: 1rem;
}